@{
    Layout = "_Layout";
}

@model Circles_MVC.Models.Userprofile
<div class="container-fluid">   
    <div id="userDetails">
        <h2 id="userNameDisplay">@Model.Name</h2>
        <div id="userprofilesPhoto" style="background-image: url(http://lorempixel.com/400/400/people)"></div>
        <div class="card userCardStyle">
            <div class="card bg-secondary userInformationCard">
                <p class="userInformationTitle">GENDER</p>
                <p class="userInformationDisplay">@Html.DisplayFor(model => Model.Gender)</p>
                <p class="userInformationTitle">AGE</p>
                <p class="userInformationDisplay">@Html.DisplayFor(model => Model.Age)</p>
                <p class="userInformationTitle">BIO</p>
                <p class="userInformationDisplay">@Html.DisplayFor(model => Model.Bio)</p>
                <p class="userInformationTitle">LOCATION</p>
                <p class="userInformationDisplay">@Html.DisplayFor(model => Model.Location)</p>
            </div>
            <hr>
            @using (Html.BeginForm()) 
            {
                @Html.HiddenFor(model => model.UserprofileId)

                @Html.Label("Add to a Circle")<br>
                @Html.DropDownList("CircleId")
                <input type="submit" value="+" class="userprofileButton">
            }
        </div>
    </div>
</div>