@{
    Layout = "_Layout";
}

@model Circles_MVC.Models.Userprofile
    
<div  id="userDetails">
<h2>@Model.Name</h2>
<p>Name: @Html.DisplayFor(model => Model.Name)</p>
<p>Gender: @Html.DisplayFor(model => Model.Gender)</p>
<p>Age: @Html.DisplayFor(model => Model.Age)</p>
<p>Bio: @Html.DisplayFor(model => Model.Bio)</p>
<p>Location: @Html.DisplayFor(model => Model.Location)</p>


</div>